streamlit>=1.40,<2.0
requests>=2.31,<3.0
chromadb
torch
transformers
sentence-transformers
onnxruntime
llama-index
langchain
langgraph
scipy
scikit-learn
grpcio
fastapi
uvicorn
sqlalchemy
pydantic
pydantic-settings
python-jose
python-multipart
email-validator
pwdlib
pymysql
groq
langchain
langchain-groq
langchain-chroma
langchain-huggingface
chromadb
sentence-transformers
pypdf
pwdlib[argon2]
argon2-cffi
PyJWT==2.10.1
langchain-google-genai
google-genai
